src
scripts
tsconfig.json
tsup.config.ts
webpack.config.js
babel.config.js
nodemon.json
.env
.env.*
*.log
.DS_Store
node_modules
.vscode
.git
.github
tests
__tests__
*.test.ts
*.spec.ts
coverage
.nyc_output
